<!DOCTYPE html>
<html>
    <head>
        <title><%= @app.name %></title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <iframe src="<%= @build.start_url %>">
            Your device is unsupported.
        </iframe>
    </body>
</html>
